.flex {
    border-radius: 20%;
    margin: 5px;
    width: 50%;
    .week {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 30px;
        padding: 10px;
        .day {
            border: 3px green;
            border-style: dashed solid;
            width: 310px;
            margin: 8px;
            padding: 9px;
        }
    }
}